[submodule "dot-vim/plugged/vim-airline"]
	path = dot-vim/plugged/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "dot-vim/plugged/vim-airline-themes"]
	path = dot-vim/plugged/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
