[submodule "dot-oh-my-zsh"]
	path = dot-oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "dot-zsh/zsh-autosuggestions"]
	path = dot-zsh/zsh-autosuggestions
	url = git://github.com/zsh-users/zsh-autosuggestions
